
{block #content}

<h1>Uživatelé</h1>

<p>
    <a href="{plink Pid:default}">Rodná čísla</a>
    <a href="{plink Order:default}">Nákup</a>
    <a href="{plink Statistic:default}">Statistika</a>
    <a href="{plink Homepage:default}">Menu</a>
</p>
<div class="col-xs-12"><a href="{plink add}">Vytvoř</a></div>

<div class="col-xs-1">Příjmení</div>
<div class="col-xs-1">Jméno</div>
<div class="col-xs-2">Registrace</div>
<div class="col-xs-1">Je Admin?</div>
<div class="col-xs-1">Rodné číslo</div>
<div class="col-xs-2">Telefon</div>
<div class="col-xs-1">Pohlaví</div>
<div class="col-xs-2">Datum narození</div>
<div class="col-xs-1">Akce</div>

{foreach $users as $u}

    <div class="col-xs-1"><a href="http://wwwkdejsmecz/prijmeni/{$u->surname} ">{$u->surname}</a></div>
    <div class="col-xs-1"><a href="http://wwwkdejsmecz/prijmeni/{$u->firstname} ">{$u->firstname}</a></div>
    <div class="col-xs-2">{$u->registered|date:"dmY - h:m:s"}</div>
    <div class="col-xs-1">{$u->is_admin ? "ANO" : "NE"}</div>
    <div class="col-xs-1">{if $u->pid_id}{$u->pid->name}{/if}</div>
    <div class="col-xs-2">{$u->phone|phone}</div>
    <div class="col-xs-1">{$u->pid_id|sex}</div>
    <div class="col-xs-2">{$u->pid_id|birthday}</div>
    <div class="col-xs-1"><a href="{plink edit id => $u->id}">Edituj</a> <a href="{plink delete id => $u->id}">Odeber</a></div>


{/foreach}